* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
}

/* Image-content part */
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2796e;
  width: 55%;
  min-height: 100vh;
  padding: 10px;
}
.image {
  height: 70%;
  background: url("https://svgshare.com/i/_gZ.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.text {
  text-align: center;
  color: white;
  font-size: 18px;
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
  width: 45%;
}
.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

form div input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #c4c4c4;
  outline: none;
  padding: 0 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

form div {
  position: relative;
  margin-bottom: 15px;
}

input:focus {
  border: 2px solid #f2796e;
}

.btn-1,
.btn-2 {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 2px solid #c4c4c4;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
}

.btn-2 {
  background-color: #4f70b5;
  border: 2px solid #4f70b5;
  color: white;
}

.or {
  text-align: center;
}
.question {
  font-size: 15px;
}

form div i {
  position: absolute;
  padding: 10px;
}

.hide,
.show {
  right: 15px;
}
.show {
  opacity: 0;
}
.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}

.failure-icon,
.error {
  color: red;
}
.success-icon {
  color: green;
}
.error {
  font-size: 14.5px;
  margin-top: 5px;
}

#submit {
  padding: 10px 0;
  border: 2px solid #c4c4c4;
  border-radius: 8px;
  background-color: #f2796e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transform: 1s ease;
}
#submit:hover {
  background-color: #f27267;
}

/* Mobile */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .content,
  form {
    width: 100%;
  }

  .image {
    height: 80vh;
  }
  .text {
    font-size: 30px;
  }
  form div input {
    height: 60px;
    font-size: 16px;
  }
  form div i {
    padding: 20px 10px;
  }
  #submit {
    padding: 15px 0;
    font-size: 20px;
  }
}
